<div class="benefits-bar">
    <div class="container-fluid">
        <ul class="benefits-bar__list">
            <li class="benefits-bar__list-item">
                <span class="benefits-bar__list-item-icon">
                    {{ 'icon-delivery.svg' | asset_url | img_tag }}
                </span>
                Free delivery to 50 states
            </li>
            <li class="benefits-bar__list-item">
                <span class="benefits-bar__list-item-icon">
                    {{ 'icon-guarantee.svg' | asset_url | img_tag }}
                </span>
                30-day money-back guarantee
            </li>
            <li class="benefits-bar__list-item">
                <span class="benefits-bar__list-item-icon">
                    <!-- {%- render 'icon-people' -%} -->
                    {{ 'icon-people.svg' | asset_url | img_tag }}
                </span>
                Loved by 10 000+ users
            </li>
            <li class="benefits-bar__list-item">
                <span class="benefits-bar__list-item-icon">
                    {{ 'icon-support.svg' | asset_url | img_tag }}
                </span>
                Dedicated around-the-clock support
            </li>
        </ul>
    </div>
</div>