<div class="benefits-bar">
        <div class="container-fluid">
            <ul class="benefits-bar__list">
                <li class="benefits-bar__list-item">
                    <span class="benefits-bar__list-item-icon">
                        <img src="../assets/icon-delivery.svg" alt="delivery">
                    </span>
                    Free delivery to 50 states
                </li>
                <li class="benefits-bar__list-item">
                    <span class="benefits-bar__list-item-icon">
                        <img src="../assets/icon-guarantee.svg" alt="guarantee">
                    </span>
                    30-day money-back guarantee
                </li>
                <li class="benefits-bar__list-item">
                    <span class="benefits-bar__list-item-icon">
                        <img src="../assets/icon-people.svg" alt="people">
                    </span>
                    Loved by 10 000+ users
                </li>
                <li class="benefits-bar__list-item">
                    <span class="benefits-bar__list-item-icon">
                        <img src="../assets/icon-support.svg" alt="support">
                    </span>
                    Dedicated around-the-clock support
                </li>
            </ul>
        </div>
    </div>